---
import calendarIcon from "../assets/calendar.svg";
import directionsIcon from "../assets/directions.svg";

interface Props {
  bgColor: "green" | "yellow";
  dayOfWeek: string;
  date: string;
  eventName: string;
  location: string;
  address: string;
  time: string;
  description: string;
  dressCode: string;
  backgroundImage: "elephants" | "peacock" | "birds-of-paradise";
  backgroundPosition: "bottom" | "left" | "right";
}

const {
  bgColor,
  dayOfWeek,
  date,
  eventName,
  location,
  address,
  time,
  description,
  dressCode,
  backgroundImage,
  backgroundPosition,
} = Astro.props;

const bgColorVariants = {
  green: "bg-background-green",
  yellow: "bg-background-yellow",
};

const bgPositionVariants = {
  bottom: "bg-bottom",
  left: "bg-left",
  right: "bg-right",
};

const backgroundImageVariants = {
  elephants: "bg-elephants",
  peacock: "bg-peacock",
  "birds-of-paradise": "bg-birds-of-paradise",
};
---

<div
  class:list={[
    `h-[250px] px-5 pt-2 bg-no-repeat`,
    bgColorVariants[bgColor],
    bgPositionVariants[backgroundPosition],
    backgroundImageVariants[backgroundImage],
  ]}
>
  <div class="flex flex-col items-center h-full relative">
    <div class="font-wotham text-xl text-title-red">{dayOfWeek}</div>
    <div class="font-wotham text-xl -mt-2 mb-2">{date}</div>

    <div class="absolute inset-0 flex items-center justify-center">
      <div class="grid grid-cols-[1fr_0.1fr_1fr] w-full">
        <div class="flex flex-col self-center items-center">
          <div class="font-wotham text-[30px] text-title-red">
            {eventName}
          </div>
          <div class="font-domine text-[17px]">{location}</div>
          <div class="font-domine text-[12px]">{address}</div>
          <div class="font-domine text-[12px]">{time}</div>
        </div>

        <div class="w-0.25 h-25 self-center bg-black mx-auto"></div>

        <div
          class="flex flex-col items-center self-center font-domine text-[10px] text-center"
        >
          <div class="mb-2">{description}</div>
          Dress code
          <div>{dressCode}</div>
          <div class="flex flex-row mt-2 gap-1">
            <a
              href="https://calendar.google.com/calendar/render?action=TEMPLATE&dates=20260706T060000Z%2F20260706T110000Z&location=Kigwa%20Farm&text=Nainesh%20%26%20Nikita%27s%20Wedding"
              class="flex flex-row items-center border-title-red border rounded-full px-2 py-0.5 gap-0.5 text-title-red"
            >
              <img src={calendarIcon.src} alt="Calendar Icon" class="w-4 h-4" />
              <span>Add to cal</span>
            </a>
            <button
              class="flex flex-row items-center border-title-red border rounded-full px-2 py-0.5 gap-0.5 text-title-red"
            >
              <img
                src={directionsIcon.src}
                alt="Directions Icon"
                class="w-4 h-4"
              />
              <span>Directions</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
