---
import calendarIcon from "../assets/calendar.svg";
import directionsIcon from "../assets/directions.svg";
import elephantsImg from "../assets/elephants.svg";
import peacock from "../assets/peacock.svg";
import birdsOfParadise from "../assets/birds-of-paradise.svg";

interface Props {
  bgColor: "green" | "yellow";
  dayOfWeek: string;
  date: string;
  eventName: string;
  location: string;
  address: string;
  time: string;
  description: string;
  dressCode: string;
  backgroundImage: "elephants" | "peacock" | "birds-of-paradise";
  backgroundPosition: "bottom" | "left" | "right";
}

const {
  bgColor,
  dayOfWeek,
  date,
  eventName,
  location,
  address,
  time,
  description,
  dressCode,
  backgroundImage,
  backgroundPosition,
} = Astro.props;

const bgColorVariants = {
  green: "bg-background-green",
  yellow: "bg-background-yellow",
};

const bgPositionVariants = {
  bottom: "bg-bottom",
  left: "bg-left",
  right: "bg-right",
};

const backgroundImageVariants = {
  elephants: "bg-elephants",
  peacock: "bg-peacock",
  "birds-of-paradise": "bg-birds-of-paradise",
};
---

<div
  class:list={[
    `h-[205px] px-5 py-0.5 bg-no-repeat`,
    bgColorVariants[bgColor],
    bgPositionVariants[backgroundPosition],
    backgroundImageVariants[backgroundImage],
  ]}
>
  <div class="flex flex-col items-center">
    <div class="font-wotham text-xl text-title-red">{dayOfWeek}</div>
    <div class="font-wotham text-xl -mt-2">{date}</div>

    <div class="grid grid-cols-[1fr_0.1fr_1fr] w-full items-start">
      <div class="flex flex-col justify-start items-center">
        <div class="font-wotham text-[28px] text-title-red">
          {eventName}
        </div>
        <div class="font-domine text-[15px]">{location}</div>
        <div class="font-domine text-[10px]">{address}</div>
        <div class="font-domine text-[10px]">{time}</div>
      </div>

      <div class="w-0.25 h-20 bg-black mx-auto"></div>

      <div
        class="flex flex-col justify-end items-center font-domine text-[8px] text-center"
      >
        <div class="mb-2">{description}</div>
        Dress code
        <div>{dressCode}</div>
        <div class="flex flex-row mt-2 gap-1">
          <button
            class="flex flex-row items-center border-title-red border rounded-full px-2 py-0.5 gap-0.5 text-title-red"
          >
            <img src={calendarIcon.src} alt="Calendar Icon" class="w-4 h-4" />
            <span>Add to cal</span>
          </button>
          <button
            class="flex flex-row items-center border-title-red border rounded-full px-2 py-0.5 gap-0.5 text-title-red"
          >
            <img
              src={directionsIcon.src}
              alt="Directions Icon"
              class="w-4 h-4"
            />
            <span>Directions</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
