---
import proposalPic from "../../public/proposal.jpg";
import TimelineCard from "./TimelineCard.vue";
import WhenAndWhere from "./WhenAndWhere.vue";
import RSVPCard from "./RSVPCard.astro";
import TravelAndAccomodationCard from "./TravelAndAccomodationCard.astro";
import { amalfiNight, randomShit, reception, wedding } from "../eventInfo";
---

<div class="flex flex-col">
  <div
    class="font-dancing-script text-title-green flex items-center justify-center text-[40px]"
  >
    Nainesh & Nikita
  </div>
  <img
    src={proposalPic.src}
    alt="Proposal Picture"
    class="h-36 w-full md:h-44"
  />
  <div class="flex flex-col gap-1">
    <WhenAndWhere client:load />
    <!--TODO: Not sure about these drums, maybe need another img -->
    <div
      class="xs:mx-32 mx-28 flex h-8 flex-row justify-center bg-[url('/src/assets/drum.svg')] bg-repeat-space"
    >
    </div>

    <TimelineCard
      event={amalfiNight}
      bgColor="yellow"
      backgroundImage="elephants"
      backgroundPosition="bottom"
      client:load
    />

    <TimelineCard
      event={randomShit}
      bgColor="green"
      backgroundImage="peacock"
      backgroundPosition="right"
      client:load
    />

    <TimelineCard
      event={wedding}
      bgColor="yellow"
      backgroundImage="elephants"
      backgroundPosition="bottom"
      client:load
    />

    <TimelineCard
      event={reception}
      bgColor="green"
      backgroundImage="birds-of-paradise"
      backgroundPosition="left"
      client:load
    />

    <div
      class="xs:mx-32 mx-28 flex h-8 flex-row justify-center bg-[url('/src/assets/dandiya-ladies.svg')] bg-repeat-space"
    >
    </div>

    <RSVPCard />
    <TravelAndAccomodationCard />

    <div class="bg-background-green px-5 pt-2">
      <div class="flex flex-col items-center">
        <div class="font-wotham text-title-red mb-2 text-xl">Map</div>
      </div>
      <iframe
        src="https://www.google.com/maps/d/embed?mid=1KaN6rj4Hz6R2_GFz88eGuCm9-DIi3k0&ehbc=2E312F"
        width="100%"
        height="480"
        style="margin-bottom: 20px;"></iframe>
    </div>
  </div>
</div>
